body {
    text-align: center;
    background-color: black;
    color: white;   
}

.canvas-container {
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

h4 {
    display: inline-block; 
    margin: 8px;
    margin-left: 2vw;
    margin-right: 2vw;
    font-family: sans-serif;
    font-weight: 200;
    
}

#labels {
    display: block;
}

button {
    padding: 8px;
    padding-left: 11px;
    padding-right: 11px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-family: sans-serif;
    font-weight: 200;
}

.hoverChange:hover:enabled {
    color: black;
    background-color: white;
}

input {
    padding: 8px;
    padding-left: 11px;
    padding-right: 11px;
    background-color: white;
    color: black;
    border: 1px solid white;
    width: 40px;
    font-family: sans-serif;
    font-weight: 200;
}

.login {
    display: block;
    width: 140px;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

#panel {
    position: absolute;
    display: none;
    z-index: 1;
    width: 60px;
    padding: 0;
}

#name {
    padding: 0;
    font-size: 14px;
    text-align: center;
    width: 60px;
    border: 0;
}

.colorChoice {
    padding: 0;
    width: 15px;
    height: 15px;
    margin: 0;
    border-color: black;
}

.colorChoice:hover {
    border-color: white;
}

#white {
    background-color: white;
}

#green {
    background-color: #64ff64;
}

#blue {
    background-color: #4b90ff;
}

#red {
    background-color: #ff5555;
}

#second {
    display: none;
}

#first {
    margin-top: 32vh;
}  

#rotateScreen {
    display: none;
}

#controls {
    margin: auto;
    display: inline-block;
    width: 500px;
}

@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
    #email, #password, #choreographerLogin {
        display: none;
    }
    
    #first {
        margin-top: 30vh;
    }
    
    .login {
        width: 30vw;
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
    }
    
    .loginButton {
        font-size: 20px;
        border: 5px solid white;
        padding: 15px;
        margin: 10px;
    }
    
    .hoverChange:hover:enabled {
        color: white;
        background-color: black;
    }
    
    #prev {
        position: fixed;
        left: 0;
        bottom: 0;
        font-size: 30px;
        padding: 30px;
        width: 100px;
        height: 100px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    
    #next {
        position: fixed;
        right: 0;
        bottom: 0;
        font-size: 30px;
        padding: 30px;
        width: 100px;
        height: 100px;
        background-color: rgba(255, 255, 255, 0.5);
    }
}

@media screen and (orientation:portrait) {
    #content{
        display: none;
    }
    
    #rotateScreen {
        display: inherit;
        width: 30vw;
        margin: auto;
        margin-top: 40vh;
    }
}

