body {
    text-align: center;
    background-color: black;
    color: white;   
}

.canvas-container {
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

h4 {
    display: inline-block; 
    margin: 8px;
    margin-left: 2vw;
    margin-right: 2vw;
    font-family: sans-serif;
    font-weight: 200;
    
}

#labels {
    display: block;
}

button {
    padding: 8px;
    padding-left: 11px;
    padding-right: 11px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-family: sans-serif;
    font-weight: 200;
}

button:hover {
    color: black;
    background-color: white;
}

input {
    padding: 8px;
    padding-left: 11px;
    padding-right: 11px;
    background-color: white;
    color: black;
    border: 1px solid white;
    width: 40px;
    font-family: sans-serif;
    font-weight: 200;
}

.login {
    display: block;
    width: 140px;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

#name {
    position: absolute;
    z-index: 1;
    display: none;
    padding: 0;
    font-size: 14px;
    text-align: center;
    width: 50px;
}

#second {
    display: none;
}

#first {
    margin-top: 32vh;
}